<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Appenders>
        <Console name="Stderr" target="SYSTEM_ERR">
            <PatternLayout pattern="[sedna/%level] %logger{1}: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="Stderr"/>
        </Root>
    </Loggers>
</Configuration>
